.field-bar{
  width: 418px;
  height: 50px;
  margin-bottom: 45px;
  margin-top: 43px;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 25px;
}
.field-title{
  font-family: Open Sans,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
}